*.class
*.png
*.html
*.js
*.css
*.log
*.tmp
*.bat
*.debug.keystore
*.apk
*.ipa
*.DS_Store
*.classpath
*.settings
target/
Output/
Build/
build/
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/uiDesigner.xml
*.metadata/.*
metadata.*
.metadata.*
.idea.*
.idea/
cucumber.json
cucumber.xml
logging.txt
*.iml
/app/
/.gradle/
/build/
Result/
out/
bin/
gen/

# Dependency directories
node_modules/
package.json
package-lock.json
